<div class="row">
  <div class="col">
    <app-playlists-list
      #listREf
      [items]="playlists"
      [selected]="selected"
      (selectedChange)="selectPlaylist($event)"
      (remove)="deletePlaylistById($event)"
    >
    </app-playlists-list>

    <button class="btn btn-info mt-3 float-end" (click)="switchToCreateMode()">
      Create New
    </button>
  </div>
  <ng-container>
    <app-playlist-details
      *ngIf="selected && mode == 'details'"
      class="col"
      [playlist]="selected"
      (edit)="switchToEditMode()"
    ></app-playlist-details>

    <app-playlist-editor
      *ngIf="selected && mode == 'edit'"
      class="col"
      [playlist]="selected"
      (save)="saveChanges($event)"
      (cancel)="cancelEditing()"
    ></app-playlist-editor>

    <app-playlist-editor
      *ngIf="selected && mode == 'create'"
      class="col"
      (save)="saveChanges($event)"
      (cancel)="cancelEditing()"
    ></app-playlist-editor>
  </ng-container>
</div>
