<p>playlists-list works!</p>

<div class="list-group">
  <div
    class="list-group-item"
    *ngFor="let playlist of playlists; index as i"
    [class.active]="playlist.id === selected?.id"
    (click)="select(playlist)"
  >
    {{ i + 1 }}. {{ playlist.name }}

    <div class="close" (click)="removeClick(playlist)">&times;</div>
  </div>
</div>

<!-- https://angular.io/guide/ajs-quick-reference#ng-class -->
