<div *ngIf="album$ | async as album">
  <div class="row mb-3">
    <div class="col">
      <h3>{{ album.name }}</h3>
      <hr />
      <small class="text-muted">{{ album.id }} </small>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <app-album-card [album]="album"></app-album-card>
    </div>
    <div class="col">
      <dl>
        <dt>Album Name:</dt>
        <dd>{{ album.name }}</dd>
        <dt>Artist Name:</dt>
        <dd>{{ album.artists[0].name }}</dd>
      </dl>

      <audio #audioRef controls class="w-100 mb-3"></audio>

      <div class="list-group" *ngIf="album.tracks">
        <div class="list-group-item" *ngFor="let track of album.tracks.items"
        (click)="playTrack(track)">
          {{ track.name }}
        </div>
      </div>
    </div>
  </div>
</div>
