<p>routed-playlist-details works!</p>

{{ placki$ | async }}

<ng-template #noPlaylistTpl>
  <p class="alert alert-info">Select playlist</p>
</ng-template>

<div *ngIf="playlist$ | async as playlist; else noPlaylistTpl">
  <dl [title]="'Title: ' + playlist.name" [attr.data-playlist-id]="playlist.id">
    <dt>Name:</dt>
    <dd
      [ngStyle]="{
        'border-bottom': 2 / 2 + 'px solid'
      }"
    >
      {{ playlist.name }}
    </dd>

    <dt>Public:</dt>
    <dd
      class="isVisible"
      [class.isPublic]="playlist.public"
      [class.isPrivate]="!playlist.public"
    >
      {{ playlist.public ? "Yes" : "No" }}
    </dd>

    <dt>Desciption:</dt>
    <dd>{{ playlist.description }}</dd>
  </dl>

  <button class="btn btn-danger" [routerLink]="['../../']">Cancel</button>
  <button class="btn btn-info" [routerLink]="['../edit']">Edit</button>
</div>
