<p>routed-playlist-details works!</p>

<ng-template #noPlaylistTpl>
  <p class="alert alert-info">Select playlist</p>
</ng-template>

<div *ngIf="playlist$ | async as playlist; else noPlaylistTpl">
  <form #formRef="ngForm" (ngSubmit)="submit(formRef)">
    <div class="form-group mb-3">
      <label>Name:</label>
      <input
        type="text"
        class="form-control"
        [ngModel]="playlist.name"
        name="name"
        #nameRef="ngModel"
      />
      <p class="text-muted">{{ nameRef.value?.length }} / 180</p>
    </div>

    <div class="form-group mb-3">
      <label
        ><input type="checkbox" [ngModel]="playlist.public" name="public" />
        Public</label
      >
    </div>

    <div class="form-group mb-3">
      <label>Description:</label>
      <textarea
        class="form-control"
        [ngModel]="playlist.description"
        name="description"
      ></textarea>
    </div>
    <pre>    {{ formRef.value | json }}</pre>

    <button class="btn btn-info" routerLink="../..">Cancel</button>
    <button class="btn btn-info" type="submit">Save</button>
  </form>
</div>
