
<div class="list-group">
  <div
    class="list-group-item"
    *ngFor="let playlist of playlists$ | async; index as i"
    routerLinkActive="active"
    [routerLink]="[playlist.id]"
  >
    {{ i + 1 }}. {{ playlist.name }}

    <!-- <div class="close" (click)="removeClick(playlist)">&times;</div> -->
  </div>
</div>
