<p>routed-playlists-view works!</p>

<div class="row">
  <div class="col">
    <app-routed-playlists-list></app-routed-playlists-list>
  </div>
  <div class="col">
    <router-outlet></router-outlet>
  </div>
</div>
